.dockerignore
.gitignore
Dockerfile
Jenkinsfile
README.md
# Folders to be ignored
.git/
.idea/
media/

# Artifacts that will be built during image creation.
# This should contain all files created during build